@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----- */

body {
    background-color: #dedede;
    font-family: "PT Sands", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6em;
    padding: 0;
    color: #212121;
    scroll-behavior: smooth;
}

strong {
    font-weight: 700;
}

a:link {
    color: #a49b89;
    text-decoration: underline;
    text-decoration-style: underline;
}

a:visited {
    color: #a49b89;
}

a:hover,
a:active {
    color: rgb(240, 216, 183);
    text-decoration: none;
}

main {
    padding: 2em;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 28em;
    margin: 2em 0 0 0;
}

nav {
    background-color: rgb(13, 48, 0);
    font-family: "PT Sans", sans-serif;
    text-align: center;
    position: sticky;
    top: 0;
}

nav ul {
    display: block;
    margin: auto;
}

nav ul li {
    display: inline-block;
    margin: 0;
}

nav ul li a:link {
    text-decoration: none;
    color: rgb(203, 214, 187);
    display: inline-block;
    padding: 1em 0.9em;
    margin: 0 0.5em;
}

nav ul li a:visited {
    text-decoration: none;
    color: rgb(203, 214, 187);
}

nav ul li:hover a {
    background-color: #5b9830;
    color: rgb(203, 214, 187);
}

nav ul li a:hover,
nav ul li a:active {
    text-decoration: none;
}

h1 {
    font-size: 1.75em;
    line-height: 1.5em;
    margin-bottom: 1em;
}

h2 {
    font-weight: 400;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: "PT Sans", sans-serif;
    margin-bottom: -0.25em;
    margin-top: 3.5em;
    scroll-margin-top: 5em;
}

p {
    margin-top: 2em;
    line-height: 2em;
}

p.small {
    font-size: 0.7em;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
}

.logo {
    padding: 0.2em 0 2em 0;
    width: 100%;
    background-color: #5b9830;
}

.logo img {
    width: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


section {
    margin-top: 2em;
}

footer {
    font-size: 0.8em;
    background-color: rgb(13, 48, 0);
    color: white;
    padding: 2em;
    margin-top: 0;
}

footer p {
    font-family: "PT Sans", sans-serif;
    margin: 1em 0;
}

footer a:link {
    color: rgb(9, 30, 61);
}

footer a:visited {
    color: rgb(9, 30, 61);
}

footer a:hover {
    color: rgb(8, 31, 66);
}

.enquires {
    background-color: rgb(198, 213, 209);
    padding: 1em 0 4em 0;
    margin-top: 3em;
    text-align: center;
}

a.button {
    display: block;
    padding: 1em;
    color: black;
    background-color: #d17416;
    margin: 2em auto 0 auto;
    width: fit-content;
    text-decoration: none;
}

a.button:hover {
    background-color: #92500e;
    color: black;
}

a.button:visited {
    background-color: #d17416;
    color: black;
}

li {
    margin-top: 0.5em;
}

.no-underline {
    text-decoration: none;
}

form {
    margin-top: 3em;
}

label {
    display: block;
    font-family: "PT Sans", sans-serif;
    font-weight: 00;
    margin-top: 1em;
}

input {
    display: block;
    border: 1px solid;
    border-radius: 1em;
    border-color: rgb(160, 151, 133);
    color: rgb(160, 151, 133);
    padding: 1em;
    min-width: 30em;
    margin: 0.2em auto 0 auto;
    background-color: rgb(19, 50, 96);
}

textarea {
    display: block;
    margin: auto;
    min-height: 8em;
    min-width: 30em;
    background-color: rgb(19, 50, 96);
    border-color: rgb(160, 151, 133);
    color: rgb(160, 151, 133);
    border: 1px solid;
    border-radius: 1em;
}

button {
    padding: 1em 3em;
    margin: 2em;
    border: 1px solid;
    border-radius: 1em;
    border-color: rgb(160, 151, 133);
    background-color: rgb(160, 151, 133);
    color: rgb(19, 50, 96);
    size: 4em;
}

.hbspt-form {
    margin-top: 2em;
}

